
/* général */

article {
  display:block;
  font-family: sans-serif;
  font-size: 10pt;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

/* Tête */

tête {
  white-space: collapse;
}
date,
auteur,
édition,
révision,
source,
issn,
propriété,
sujet {
  display: block;
  font-size: 0.8em;
  color: gray;
  background-color: white;
}
résumé {
  display: block;
  margin-top: 1em;
  text-align: justify;
  border-bottom-style: none;
  border-width: 1px;
  border-color: black;
  font-style: italic;
}
tête image {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* Titres */

titre {
  display: block;
  font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, sans-serif;
}
article titre {
  font-size: 2em;
}
section titre {
  font-size: 1.4em;
}

/* Contenu */

corps{
  display: block;
  color: black;
  background-color: white;
}
@media print {
  article, corps {
    display: block;
    margin: 0;
    padding: 0;
    border-style: none;
    font-family: Times, serif;
  }
}
section {
  display: block;
  margin-top: 2em;
  clear: both;
}
paragraphe {
  display: block;
  margin-top: 0.8em;
  text-align: justify;
}
emphase {
  font-weight: bold;
}
abréviation:hover {
  cursor: help;
}

/* images */

image {
  display: block;
  float: left;
  max-width: 35%;
  padding-left: 4%;
  padding-right: 4%;
  color: black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  content: attr(url, url);/* not working in Firefox */
}
légende {
  margin-top: 0.4em;
  font-size: 0.8em;
  font-style: italic;
  color: gray;
  background-color: white;
}
propriété:before {
  display: inline;
  content: "©";
}
citation {
  display: inline;
  font-style: italic ;
}
citation:before {
  display: inline;
  content: "\AB\A0" ;
}
citation:after {
  display: inline;
  content: "\A0\BB" ;
}
